.header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    padding: 0 50px;
    left: 10px;
    right: 10px;
    padding-top: 20px;
    align-items: center;
    z-index: 10;
    height: max-content;
    background: transparent;
  }
  
  @media (max-width: 600px) {
    .header {
      padding: 0 20px;
      padding-top: 30px;
    }
  }


  
  #logo .logo1 {
    color: white;
    background: transparent !important;
  }
  
  #logo .dev {
    font-size: 1rem;
    font-weight: 50;
    color: white !important;
  }
  
  @media (max-width: 780px) {
    #logo {
      position: static;
      width: 120px;
    }
  }
  
  #logo .cls-1 {
    fill: #08e7f3;
  }
  
  .ham-disabled {
    pointer-events: none;
  }
  
  .hamburger {
    cursor: pointer;
    mix-blend-mode: difference;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 30px;
    top: 30px;
    background: transparent !important;
  }
  
  .hamburger:hover .hamburger-icon::before {
    transform: rotate(0deg) translate(-5px, -4px);
  }
  
  .hamburger:hover .hamburger-icon::after {
    transform: rotate(0deg) translate(5px, 4px);
  }
  
  @media (max-width: 780px) {
    .hamburger {
      position: static;
    }
  }
  
  @media (max-width: 768px) {
    .hamburger:hover .hamburger-icon::before {
      transform: rotate(0deg) translate(0px, -4px);
    }
  
    .hamburger:hover .hamburger-icon::after {
      transform: rotate(0deg) translate(0px, 4px);
    }
  }
  
  .hamburger-icon {
    color: white;
    position: relative;
    max-width: 60px;
  }
  
  @media (max-width: 768px) {
    .hamburger-icon {
      left: 30%;
      top: -15%;
    }
  }
  
  .hamburger-icon::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    background: white;
    transform: rotate(0deg) translate(0px, -4px);
    transition: transform 0.25s ease-in-out;
    left: 25px;
    bottom: 25px;
    cursor: pointer;
  }
  
  .hamburger-icon::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 2px;
    background: white;
    transform: rotate(0deg) translate(0px, 4px);
    transition: transform 0.25s ease-in-out;
    left: 25px;
    bottom: 25px;
    cursor: pointer;
  }
  
  .hamburger__active:hover .hamburger-icon::before {
    transform: rotate(0deg) translate(0, 0);
  }
  
  .hamburger__active:hover .hamburger-icon::after {
    transform: rotate(0deg) translate(0, 0);
  }
  
  @media (max-width: 768px) {
    .hamburger__active:hover .hamburger-icon::before {
      transform: rotate(-45deg) translate(0px, 0px);
    }
  
    .hamburger__active:hover .hamburger-icon::after {
      transform: rotate(45deg) translate(0px, 0px);
    }
  }
  
  .hamburger__active .hamburger-icon::before {
    transform: rotate(-45deg) translate(0px, 0px);
  }
  
  .hamburger__active .hamburger-icon::after {
    transform: rotate(45deg) translate(0px, 0px);
  }
  